* {
    font-family: 'Indie Flower', cursive;
    text-align: center;
    color: white;
}

body {
    background-color: #08082B;
    border: 60px solid #40E0CF;
    border-top: 0px;
    margin: 0px;
}

#signup {
    font-size: 1.2em;
    width: 120px;
    height: 60px;
    border: 2px solid white;
    border-radius: 15px;
    background-color: #F2A210;
    margin: 5px;
    color: black;
}

.userinput {
    font-size: 1.5em;
    color: black;
    background-color: white;
    width: 250px;
}

p {
    font-size: 1.25em;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}